<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="timezra.eclipse.codemime.core.ui.category"
            id="timezra.eclipse.codemime.c.ui.commands.copyTextAsHtml"
            name="%copyAsHtmlLabel">
      </command>
      <command
            categoryId="timezra.eclipse.codemime.core.ui.category"
            id="timezra.eclipse.codemime.c.ui.commands.copyFileAsHtml"
            name="%copyAsHtmlLabel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="timezra.eclipse.codemime.c.ui.commands.CopyCTextAsHtml"
            commandId="timezra.eclipse.codemime.c.ui.commands.copyTextAsHtml">
      </handler>
      <handler
            class="timezra.eclipse.codemime.c.ui.commands.CopyCFileAsHtml"
            commandId="timezra.eclipse.codemime.c.ui.commands.copyFileAsHtml">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="timezra.eclipse.codemime.c.ui.commands.copyTextAsHtml"
            contextId="org.eclipse.cdt.ui.cEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.cdt.ui.editor.CEditor.EditorContext?endof=group.edit">
         <menu
               icon="icons/full/etool16/copy_as_html_edit.gif"
               id="timezra.eclipse.codemime.c.ui.copyTextAs"
               label="%copyAsLabel"
               mnemonic="C">
            <command
                  commandId="timezra.eclipse.codemime.c.ui.commands.copyTextAsHtml"
                  disabledIcon="icons/full/dtool16/copy_as_html_edit.gif"
                  icon="icons/full/etool16/copy_as_html_edit.gif"
                  mnemonic="H">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <menu
               icon="icons/full/etool16/copy_as_html_edit.gif"
               id="timezra.eclipse.codemime.c.ui.copyFileAs"
               label="%copyAsLabel"
               mnemonic="C">
            <command
                  commandId="timezra.eclipse.codemime.c.ui.commands.copyFileAsHtml"
                  disabledIcon="icons/full/dtool16/copy_as_html_edit.gif"
                  icon="icons/full/etool16/copy_as_html_edit.gif"
                  mnemonic="H">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <instanceof
                             value="org.eclipse.core.resources.IFile">
                       </instanceof>
                       <or>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.cdt.core.cSource">
	                       </test>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.cdt.core.cHeader">
	                       </test>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.cdt.core.cxxSource">
	                       </test>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.cdt.core.cxxHeader">
	                       </test>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.cdt.core.asmSource">
	                       </test>
                       </or>
                    </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
