<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="timezra.eclipse.codemime.core.ui.category"
            id="timezra.eclipse.codemime.xml.ui.commands.copyTextAsHtml"
            name="%copyAsHtmlLabel">
      </command>
      <command
            categoryId="timezra.eclipse.codemime.core.ui.category"
            id="timezra.eclipse.codemime.xml.ui.commands.copyFileAsHtml"
            name="%copyAsHtmlLabel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="timezra.eclipse.codemime.xml.ui.commands.CopyXmlTextAsHtml"
            commandId="timezra.eclipse.codemime.xml.ui.commands.copyTextAsHtml">
      </handler>
      <handler
            class="timezra.eclipse.codemime.xml.ui.commands.CopyXmlFileAsHtml"
            commandId="timezra.eclipse.codemime.xml.ui.commands.copyFileAsHtml">
      </handler>
   </extension>
   <!-- FIXME: This binding is currently causing a conflict with the Copy HTML As HTML binding -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="timezra.eclipse.codemime.xml.ui.commands.copyTextAsHtml"
            contextId="org.eclipse.core.runtime.xml"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.core.runtime.xml.source.EditorContext?after=group.edit">
         <menu
               id="timezra.eclipse.codemime.xml.ui.copyTextAs"
               label="%copyAsLabel"
               mnemonic="C">
            <command
                  commandId="timezra.eclipse.codemime.xml.ui.commands.copyTextAsHtml"
                  mnemonic="H">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.edit">
         <menu
               id="timezra.eclipse.codemime.xml.ui.copyFileAs"
               label="%copyAsLabel"
               mnemonic="C">
            <command
                  commandId="timezra.eclipse.codemime.xml.ui.commands.copyFileAsHtml"
                  mnemonic="H">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <instanceof
                             value="org.eclipse.core.resources.IFile">
                       </instanceof>
                       <or>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.core.runtime.xml">
	                       </test>
	                       <test
	                             property="org.eclipse.core.resources.contentTypeId"
	                             value="org.eclipse.wst.xml.core.xmlsource">
	                       </test>
                       </or>
                    </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
