<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="timezra.eclipse.codemime.groovy.ui.groovyFile"
            nameFilter="*.groovy"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="timezra.eclipse.codemime.groovy.ui.actions.CopyToClipboardGroovyFileAction"
               enablesFor="1"
               id="timezra.eclipse.codemime.groovy.ui.actions.copyToClipboardGroovyFileAction"
               label="%copyToClipboardActionLabel"
               menubarPath="timezra.eclipse.codemime.groovy.ui.groovyFileMenu/defaultGroup">
         </action>
         <menu
               id="timezra.eclipse.codemime.groovy.ui.groovyFileMenu"
               label="%codemimeMenuLabel"
               path="additions">
            <groupMarker
                  name="defaultGroup">
            </groupMarker>
         </menu>
      </objectContribution>
      <viewerContribution
            id="timezra.eclipse.codemime.groovy.ui.groovyEditor"
            targetID="#GroovyCompilationUnitEditorContext">
         <action
               class="timezra.eclipse.codemime.groovy.ui.actions.CopyToClipboardGroovyEditorAction"
               id="timezra.eclipse.codemime.groovy.ui.actions.copyToClipboardGroovyEditorAction"
               label="%copyToClipboardActionLabel"
               menubarPath="timezra.eclipse.codemime.groovy.ui.groovyEditorMenu/defaultGroup">
         </action>
         <menu
               id="timezra.eclipse.codemime.groovy.ui.groovyEditorMenu"
               label="%codemimeMenuLabel"
               path="additions">
            <groupMarker
                  name="defaultGroup">
            </groupMarker>
         </menu>
      </viewerContribution>
   </extension>

</plugin>
