<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>



   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="timezra.eclipse.codemime.core.ui.category"
            id="timezra.eclipse.codemime.groovy.ui.commands.copyTextAsHtml"
            name="%copyAsHtmlLabel">
      </command>
      <command
            categoryId="timezra.eclipse.codemime.core.ui.category"
            id="timezra.eclipse.codemime.groovy.ui.commands.copyFileAsHtml"
            name="%copyAsHtmlLabel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="timezra.eclipse.codemime.groovy.ui.commands.CopyGroovyTextAsHtml"
            commandId="timezra.eclipse.codemime.groovy.ui.commands.copyTextAsHtml">
      </handler>
      <handler
            class="timezra.eclipse.codemime.groovy.ui.commands.CopyGroovyFileAsHtml"
            commandId="timezra.eclipse.codemime.groovy.ui.commands.copyFileAsHtml">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="timezra.eclipse.codemime.groovy.ui.commands.copyTextAsHtml"
            contextId="org.codehaus.groovy.eclipse.editor.groovyEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M H">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#GroovyCompilationUnitEditorContext?endof=group.edit">
         <menu
               icon="icons/full/etool16/copy_as_html_edit.gif"
               id="timezra.eclipse.codemime.groovy.ui.copyTextAs"
               label="%copyAsLabel"
               mnemonic="C">
            <command
                  commandId="timezra.eclipse.codemime.groovy.ui.commands.copyTextAsHtml"
                  disabledIcon="icons/full/dtool16/copy_as_html_edit.gif"
                  icon="icons/full/etool16/copy_as_html_edit.gif"
                  mnemonic="H">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <menu
               icon="icons/full/etool16/copy_as_html_edit.gif"
               id="timezra.eclipse.codemime.groovy.ui.copyFileAs"
               label="%copyAsLabel"
               mnemonic="C">
            <command
                  commandId="timezra.eclipse.codemime.groovy.ui.commands.copyFileAsHtml"
                  disabledIcon="icons/full/dtool16/copy_as_html_edit.gif"
                  icon="icons/full/etool16/copy_as_html_edit.gif"
                  mnemonic="H">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                    <iterate
                          ifEmpty="false"
                          operator="and">
                       <instanceof
                             value="org.eclipse.jdt.core.ICompilationUnit">
                       </instanceof>
                       <test
                             property="org.codehaus.groovy.eclipse.ui.isScript">
                       </test>
                    </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
